.home-wrapper {
  height: 100%;
  width: 100%;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.home-container-text > h2 {
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}
.home-container-text > p {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin: 1.5rem 0;
}
