.signup-wrapper {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.signup-img {
  background: #e9e9e9cc;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-img > img {
  width: 85%;
}

.signup-containair {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-content > form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.signup-container-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.signup-formText {
  margin-bottom: 2rem;
}
.signup-formText > h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.signup-formText > p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.signup-formText > span {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
}
.signup-formText  span > a{
    color: #0888ff;
    font-weight: 800;
} 