*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
   
}

html{
    height: 100vh;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}