header {
  padding: 4rem;
  position: fixed;
  width: 100%;
}

header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav-link ul li > a {
  font-size: 1.4rem;
  color: #000;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.nav-link ul li > a:hover {
  color: #000000a9;
}

.nav-link-container {
  width: 100%;
  position: absolute;
  height: 100%;
  background: #000;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-menu {
  display: none;
}

.btn-close {
  display: none;
}

@media (max-width: 1024px) {
  .nav-link {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
    z-index: 100;
  }

  .nav-link.ativo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link ul {
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-link ul li a {
    font-size: 1.6rem;
  }

  .btn-menu {
    display: block;
    font-size: 1.6rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #000;
  }

  .btn-close {
    display: block;
    position: absolute;
    top: 4rem;
    right: 4rem;
  }
}
